<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BankWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.200.33:8080/BankWS/BankWS" binding="basicHttpBinding"
                bindingConfiguration="BankWSPortBinding" contract="ServiceReference1.BankWS"
                name="BankWSPort" />
        </client>
    </system.serviceModel>
</configuration>